.wrapper {
    width: 70%;
    padding-bottom: 5%;
    margin-left: 15%;
    background-color: rgb(68, 63, 63);
    position: fixed;
 }

.header {
    text-align: center;
    font-size: 25px;
    color: white;
    padding-top: 1%;
 }

 .add__task{
     display: flex;
     justify-content: center;

 }

.inp {
    margin-left: 7%;
    width: 60%;
    border: 1px solid yellow;
    height: 30px;
    font-size: 16px;
 }

.btn {
    width: 90px;
    height: 35px;
    margin-left: 2%;
    color: white;
    background-color: rgb(68, 63, 63);
    border: 1px solid yellow;
 }

.filter__tasks {
    margin-left: 13%;
    margin-top: 3%;
    display: flex;
 }

.sort {
    color: white;
    margin-left: 1%;
 }

.sort select {
    height: 35px;
 }

.tasks {
    border: 1px solid yellow;
    width: 80%;
    margin-top: 3%;
    margin-left: 10%;
    padding-bottom: 5%;
 } 

.tasks__list {
    color: white;
    list-style-type: none;
 }

.task {
    font-size: 20px;
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
 }


.btn__delete {
    width: 90px;
    height: 35px;
    color: white;
    background-color: rgb(68, 63, 63);
    border: 1px solid yellow;
 }

hr {
    margin-right: 5%;
 }

.date {
    margin-left: 30%;
    margin-top: 5px;
 }

.btn:hover, .btn__delete:hover {
    border: 2px solid yellow;
 }

.pagination{
    margin-left: 5%;
    margin-top: 1%;
}

.pagination ul{
    list-style-type: none;
}

.pagination li {
    color: white;
    float: left;
    padding: 8px 16px;
    transition: background-color .7s;
  }
  

.pagination li.active {
    background-color: dodgerblue;
   
  }
  
.pagination li:hover:not(.active) {
    background-color: #ddd;
    color: rgb(68, 63, 63);
    }

@media screen and (min-width:700px) and (max-width:1000px) {
    
    .inp {
        margin-left: 12%;
        width: 50%;
        border: 1px solid yellow;
        height: 30px;
    }
    .btn {
        width: 70px;
        height: 30px;
        margin-left: 1.5%;
        color: white;
        background-color: rgb(68, 63, 63);
        border: 1px solid yellow;
    }

    .task {
        font-size: 20px;
        margin-top: 3%;
        margin-right: 10%;
        display: flex;
        justify-content: space-around;
     }

     .date {
        margin-top: 3px;
     }

     hr {
        margin-right: 10%;
     }

 }

@media screen and (min-width:500px) and (max-width:700px) {

    .inp {
        margin-left: 7%;
        width: 45%;
        border: 1px solid yellow;
        height: 30px;
    }
    .btn {
        width: 65px;
        height: 30px;
        margin-left: 2%;
        color: white;
        background-color: rgb(68, 63, 63);
        border: 1px solid yellow;
    }
    .filter__tasks {
        margin-left: 5%;
        margin-top: 3%;
        display: flex;
    }

    .tasks {
        border: 1px solid yellow;
        width: 80%;
        margin-top: 3%;
        margin-left: 10%;
        padding-bottom: 5%;
     } 

     .task{
        font-size: 14px;
     }

    .tasks__list{
        margin-right: 5%;
    }

    .date {
        margin-top: 2px;
     }

     .todo{
        margin-top: 2px;
    }

     hr {
        margin-right: 15%;
     }

    .pagination li {
        color: white;
        float: left;
        padding: 4px 8px;
        text-decoration: none;
        transition: background-color .7s;
      }
}

@media screen and (min-width:200px) and (max-width:500px) {

    .btn{
        font-size: 14px;
    }

    .filter__tasks {
        margin-left: 0px;
        margin-top: 3%;
        display: flex;
    }

    .filter__tasks .btn {
        width: 19%;
        margin-left: 6%;
        font-size: 11px;
    }

    .sort {
        color: white;
        margin-left: 4%;
    }
    .sort select {
        width: 50px;
    }

    .tasks {
        border: 1px solid yellow;
        width: 90%;
        margin-top: 3%;
        margin-left: 3%;
        padding-bottom: 5%;
     }

    .task {
        width: 100%;
        font-size: 14px;
        margin-top: 3%;
        margin-left: -10%;
        display: flex;
        justify-content: space-around;
     }

     .todo{
         margin-top: 4px;
     }

    .pagination li {
        color: white;
        float: left;
        padding: 2px 4px;
        text-decoration: none;
        transition: background-color .7s;
      }

    hr {
        margin-left: -12%;
     }
}

@media screen and (min-width:200px) and (max-width:810px) {
    .btn__delete {
        margin-left: 3%;
        width: 70px;
        height: 25px;
        color: white;
        background-color: rgb(68, 63, 63);
        border: 1px solid yellow;
    }

    .date {
        margin-left: 0%;
    }
}