.inp {
    margin-left: 7%;
    width: 60%;
    border: 1px solid yellow;
    height: 30px;
    font-size: 16px;
 }

 @media  screen and (min-width: 250px) and (max-width: 500px){

    .inp{
        margin-bottom: 5%;
    }
     
 }