.post__list {
    color: white;
    list-style-type: none;
}

hr {
    width: 90%;
    margin-right: 7%;
 }

 @media screen and (min-width:200px) and (max-width:580px){
    hr {
        width: 80%;
        margin-right: 7%;
     }

     .post__list {
        margin-right: 19%;
    }
}